# Miscellaneous
*.class
*.log
*.pyc
*.swp
.env
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
android/app/.cxx/Debug/4d28d2v6/arm64-v8a/.cmake/api/v1/query/client-agp/cache-v2
android/app/.cxx/Debug/4d28d2v6/arm64-v8a/.cmake/api/v1/query/client-agp/cmakeFiles-v1
android/app/.cxx/Debug/4d28d2v6/arm64-v8a/.cmake/api/v1/query/client-agp/codemodel-v2
android/app/.cxx/Debug/4d28d2v6/arm64-v8a/.cmake/api/v1/reply/cache-v2-e29a077e23cad7f2b23e.json
android/app/.cxx/Debug/4d28d2v6/arm64-v8a/.cmake/api/v1/reply/cmakeFiles-v1-b2150fb910c2545e90ab.json
android/app/.cxx/Debug/4d28d2v6/arm64-v8a/.cmake/api/v1/reply/codemodel-v2-4fc694e6245ac4be7c06.json
android/app/.cxx/Debug/4d28d2v6/arm64-v8a/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
android/app/.cxx/Debug/4d28d2v6/arm64-v8a/.cmake/api/v1/reply/index-2025-05-18T08-22-07-0428.json
android/app/.cxx/Debug/4d28d2v6/arm64-v8a/additional_project_files.txt
android/app/.cxx/Debug/4d28d2v6/arm64-v8a/android_gradle_build.json
android/app/.cxx/Debug/4d28d2v6/arm64-v8a/android_gradle_build_mini.json
android/app/.cxx/Debug/4d28d2v6/arm64-v8a/build.ninja
android/app/.cxx/Debug/4d28d2v6/arm64-v8a/build_file_index.txt
android/app/.cxx/Debug/4d28d2v6/arm64-v8a/cmake_install.cmake
android/app/.cxx/Debug/4d28d2v6/arm64-v8a/CMakeCache.txt
android/app/.cxx/Debug/4d28d2v6/arm64-v8a/CMakeFiles/3.22.1-g37088a8-dirty/CMakeCCompiler.cmake
android/app/.cxx/Debug/4d28d2v6/arm64-v8a/CMakeFiles/3.22.1-g37088a8-dirty/CMakeCXXCompiler.cmake
android/app/.cxx/Debug/4d28d2v6/arm64-v8a/CMakeFiles/3.22.1-g37088a8-dirty/CMakeDetermineCompilerABI_C.bin
android/app/.cxx/Debug/4d28d2v6/arm64-v8a/CMakeFiles/3.22.1-g37088a8-dirty/CMakeDetermineCompilerABI_CXX.bin
android/app/.cxx/Debug/4d28d2v6/arm64-v8a/CMakeFiles/3.22.1-g37088a8-dirty/CMakeSystem.cmake
android/app/.cxx/Debug/4d28d2v6/arm64-v8a/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdC/CMakeCCompilerId.c
android/app/.cxx/Debug/4d28d2v6/arm64-v8a/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdC/CMakeCCompilerId.o
android/app/.cxx/Debug/4d28d2v6/arm64-v8a/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdCXX/CMakeCXXCompilerId.cpp
android/app/.cxx/Debug/4d28d2v6/arm64-v8a/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdCXX/CMakeCXXCompilerId.o
android/app/.cxx/Debug/4d28d2v6/arm64-v8a/CMakeFiles/cmake.check_cache
android/app/.cxx/Debug/4d28d2v6/arm64-v8a/CMakeFiles/rules.ninja
android/app/.cxx/Debug/4d28d2v6/arm64-v8a/CMakeFiles/TargetDirectories.txt
android/app/.cxx/Debug/4d28d2v6/arm64-v8a/configure_fingerprint.bin
android/app/.cxx/Debug/4d28d2v6/arm64-v8a/metadata_generation_command.txt
android/app/.cxx/Debug/4d28d2v6/arm64-v8a/prefab_config.json
android/app/.cxx/Debug/4d28d2v6/arm64-v8a/symbol_folder_index.txt
android/app/.cxx/Debug/4d28d2v6/armeabi-v7a/.cmake/api/v1/query/client-agp/cache-v2
android/app/.cxx/Debug/4d28d2v6/armeabi-v7a/.cmake/api/v1/query/client-agp/cmakeFiles-v1
android/app/.cxx/Debug/4d28d2v6/armeabi-v7a/.cmake/api/v1/query/client-agp/codemodel-v2
android/app/.cxx/Debug/4d28d2v6/armeabi-v7a/.cmake/api/v1/reply/cache-v2-7d29094983d46d22a798.json
android/app/.cxx/Debug/4d28d2v6/armeabi-v7a/.cmake/api/v1/reply/cmakeFiles-v1-d37a09fc9a51aa6df2f5.json
android/app/.cxx/Debug/4d28d2v6/armeabi-v7a/.cmake/api/v1/reply/codemodel-v2-3377cb5b23a83e5ad59f.json
android/app/.cxx/Debug/4d28d2v6/armeabi-v7a/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
android/app/.cxx/Debug/4d28d2v6/armeabi-v7a/.cmake/api/v1/reply/index-2025-05-18T08-22-09-0379.json
android/app/.cxx/Debug/4d28d2v6/armeabi-v7a/additional_project_files.txt
android/app/.cxx/Debug/4d28d2v6/armeabi-v7a/android_gradle_build.json
android/app/.cxx/Debug/4d28d2v6/armeabi-v7a/android_gradle_build_mini.json
android/app/.cxx/Debug/4d28d2v6/armeabi-v7a/build.ninja
android/app/.cxx/Debug/4d28d2v6/armeabi-v7a/build_file_index.txt
android/app/.cxx/Debug/4d28d2v6/armeabi-v7a/cmake_install.cmake
android/app/.cxx/Debug/4d28d2v6/armeabi-v7a/CMakeCache.txt
android/app/.cxx/Debug/4d28d2v6/armeabi-v7a/CMakeFiles/3.22.1-g37088a8-dirty/CMakeCCompiler.cmake
android/app/.cxx/Debug/4d28d2v6/armeabi-v7a/CMakeFiles/3.22.1-g37088a8-dirty/CMakeCXXCompiler.cmake
android/app/.cxx/Debug/4d28d2v6/armeabi-v7a/CMakeFiles/3.22.1-g37088a8-dirty/CMakeDetermineCompilerABI_C.bin
android/app/.cxx/Debug/4d28d2v6/armeabi-v7a/CMakeFiles/3.22.1-g37088a8-dirty/CMakeDetermineCompilerABI_CXX.bin
android/app/.cxx/Debug/4d28d2v6/armeabi-v7a/CMakeFiles/3.22.1-g37088a8-dirty/CMakeSystem.cmake
android/app/.cxx/Debug/4d28d2v6/armeabi-v7a/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdC/CMakeCCompilerId.c
android/app/.cxx/Debug/4d28d2v6/armeabi-v7a/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdC/CMakeCCompilerId.o
android/app/.cxx/Debug/4d28d2v6/armeabi-v7a/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdCXX/CMakeCXXCompilerId.cpp
android/app/.cxx/Debug/4d28d2v6/armeabi-v7a/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdCXX/CMakeCXXCompilerId.o
android/app/.cxx/Debug/4d28d2v6/armeabi-v7a/CMakeFiles/cmake.check_cache
android/app/.cxx/Debug/4d28d2v6/armeabi-v7a/CMakeFiles/rules.ninja
android/app/.cxx/Debug/4d28d2v6/armeabi-v7a/CMakeFiles/TargetDirectories.txt
android/app/.cxx/Debug/4d28d2v6/armeabi-v7a/configure_fingerprint.bin
android/app/.cxx/Debug/4d28d2v6/armeabi-v7a/metadata_generation_command.txt
android/app/.cxx/Debug/4d28d2v6/armeabi-v7a/prefab_config.json
android/app/.cxx/Debug/4d28d2v6/armeabi-v7a/symbol_folder_index.txt
android/app/.cxx/Debug/4d28d2v6/hash_key.txt
android/app/.cxx/Debug/4d28d2v6/x86/.cmake/api/v1/query/client-agp/cache-v2
android/app/.cxx/Debug/4d28d2v6/x86/.cmake/api/v1/query/client-agp/cmakeFiles-v1
android/app/.cxx/Debug/4d28d2v6/x86/.cmake/api/v1/query/client-agp/codemodel-v2
android/app/.cxx/Debug/4d28d2v6/x86/.cmake/api/v1/reply/cache-v2-e9a440163280065b1ba5.json
android/app/.cxx/Debug/4d28d2v6/x86/.cmake/api/v1/reply/cmakeFiles-v1-1beeec71d5c648fa0d8e.json
android/app/.cxx/Debug/4d28d2v6/x86/.cmake/api/v1/reply/codemodel-v2-51f35352feb51c9c460b.json
android/app/.cxx/Debug/4d28d2v6/x86/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
android/app/.cxx/Debug/4d28d2v6/x86/.cmake/api/v1/reply/index-2025-05-18T08-22-10-0747.json
android/app/.cxx/Debug/4d28d2v6/x86/additional_project_files.txt
android/app/.cxx/Debug/4d28d2v6/x86/android_gradle_build.json
android/app/.cxx/Debug/4d28d2v6/x86/android_gradle_build_mini.json
android/app/.cxx/Debug/4d28d2v6/x86/build.ninja
android/app/.cxx/Debug/4d28d2v6/x86/build_file_index.txt
android/app/.cxx/Debug/4d28d2v6/x86/cmake_install.cmake
android/app/.cxx/Debug/4d28d2v6/x86/CMakeCache.txt
android/app/.cxx/Debug/4d28d2v6/x86/CMakeFiles/3.22.1-g37088a8-dirty/CMakeCCompiler.cmake
android/app/.cxx/Debug/4d28d2v6/x86/CMakeFiles/3.22.1-g37088a8-dirty/CMakeCXXCompiler.cmake
android/app/.cxx/Debug/4d28d2v6/x86/CMakeFiles/3.22.1-g37088a8-dirty/CMakeDetermineCompilerABI_C.bin
android/app/.cxx/Debug/4d28d2v6/x86/CMakeFiles/3.22.1-g37088a8-dirty/CMakeDetermineCompilerABI_CXX.bin
android/app/.cxx/Debug/4d28d2v6/x86/CMakeFiles/3.22.1-g37088a8-dirty/CMakeSystem.cmake
android/app/.cxx/Debug/4d28d2v6/x86/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdC/CMakeCCompilerId.c
android/app/.cxx/Debug/4d28d2v6/x86/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdC/CMakeCCompilerId.o
android/app/.cxx/Debug/4d28d2v6/x86/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdCXX/CMakeCXXCompilerId.cpp
android/app/.cxx/Debug/4d28d2v6/x86/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdCXX/CMakeCXXCompilerId.o
android/app/.cxx/Debug/4d28d2v6/x86/CMakeFiles/cmake.check_cache
android/app/.cxx/Debug/4d28d2v6/x86/CMakeFiles/rules.ninja
android/app/.cxx/Debug/4d28d2v6/x86/CMakeFiles/TargetDirectories.txt
android/app/.cxx/Debug/4d28d2v6/x86/configure_fingerprint.bin
android/app/.cxx/Debug/4d28d2v6/x86/metadata_generation_command.txt
android/app/.cxx/Debug/4d28d2v6/x86/prefab_config.json
android/app/.cxx/Debug/4d28d2v6/x86/symbol_folder_index.txt
android/app/.cxx/Debug/4d28d2v6/x86_64/.cmake/api/v1/query/client-agp/cache-v2
android/app/.cxx/Debug/4d28d2v6/x86_64/.cmake/api/v1/query/client-agp/cmakeFiles-v1
android/app/.cxx/Debug/4d28d2v6/x86_64/.cmake/api/v1/query/client-agp/codemodel-v2
android/app/.cxx/Debug/4d28d2v6/x86_64/.cmake/api/v1/reply/cache-v2-7249ee47fb1c55c11240.json
android/app/.cxx/Debug/4d28d2v6/x86_64/.cmake/api/v1/reply/cmakeFiles-v1-1894bb4ccebfa35db70f.json
android/app/.cxx/Debug/4d28d2v6/x86_64/.cmake/api/v1/reply/codemodel-v2-72c3c20e70641d06f139.json
android/app/.cxx/Debug/4d28d2v6/x86_64/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
android/app/.cxx/Debug/4d28d2v6/x86_64/.cmake/api/v1/reply/index-2025-05-18T08-22-12-0207.json
android/app/.cxx/Debug/4d28d2v6/x86_64/additional_project_files.txt
android/app/.cxx/Debug/4d28d2v6/x86_64/android_gradle_build.json
android/app/.cxx/Debug/4d28d2v6/x86_64/android_gradle_build_mini.json
android/app/.cxx/Debug/4d28d2v6/x86_64/build.ninja
android/app/.cxx/Debug/4d28d2v6/x86_64/build_file_index.txt
android/app/.cxx/Debug/4d28d2v6/x86_64/cmake_install.cmake
android/app/.cxx/Debug/4d28d2v6/x86_64/CMakeCache.txt
android/app/.cxx/Debug/4d28d2v6/x86_64/CMakeFiles/3.22.1-g37088a8-dirty/CMakeCCompiler.cmake
android/app/.cxx/Debug/4d28d2v6/x86_64/CMakeFiles/3.22.1-g37088a8-dirty/CMakeCXXCompiler.cmake
android/app/.cxx/Debug/4d28d2v6/x86_64/CMakeFiles/3.22.1-g37088a8-dirty/CMakeDetermineCompilerABI_C.bin
android/app/.cxx/Debug/4d28d2v6/x86_64/CMakeFiles/3.22.1-g37088a8-dirty/CMakeDetermineCompilerABI_CXX.bin
android/app/.cxx/Debug/4d28d2v6/x86_64/CMakeFiles/3.22.1-g37088a8-dirty/CMakeSystem.cmake
android/app/.cxx/Debug/4d28d2v6/x86_64/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdC/CMakeCCompilerId.c
android/app/.cxx/Debug/4d28d2v6/x86_64/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdC/CMakeCCompilerId.o
android/app/.cxx/Debug/4d28d2v6/x86_64/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdCXX/CMakeCXXCompilerId.cpp
android/app/.cxx/Debug/4d28d2v6/x86_64/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdCXX/CMakeCXXCompilerId.o
android/app/.cxx/Debug/4d28d2v6/x86_64/CMakeFiles/cmake.check_cache
android/app/.cxx/Debug/4d28d2v6/x86_64/CMakeFiles/rules.ninja
android/app/.cxx/Debug/4d28d2v6/x86_64/CMakeFiles/TargetDirectories.txt
android/app/.cxx/Debug/4d28d2v6/x86_64/configure_fingerprint.bin
android/app/.cxx/Debug/4d28d2v6/x86_64/metadata_generation_command.txt
android/app/.cxx/Debug/4d28d2v6/x86_64/prefab_config.json
android/app/.cxx/Debug/4d28d2v6/x86_64/symbol_folder_index.txt
android/gradle.properties
linux/flutter/generated_plugin_registrant.cc
linux/flutter/generated_plugin_registrant.h
linux/flutter/generated_plugins.cmake
macos/Flutter/GeneratedPluginRegistrant.swift
windows/flutter/generated_plugin_registrant.cc
windows/flutter/generated_plugin_registrant.h
windows/flutter/generated_plugins.cmake
android/gradle.properties
linux/flutter/generated_plugin_registrant.cc
linux/flutter/generated_plugin_registrant.h
linux/flutter/generated_plugins.cmake
macos/Flutter/GeneratedPluginRegistrant.swift
windows/flutter/generated_plugin_registrant.cc
windows/flutter/generated_plugin_registrant.h
windows/flutter/generated_plugins.cmake
android/gradle.properties
linux/flutter/generated_plugin_registrant.cc
linux/flutter/generated_plugin_registrant.h
linux/flutter/generated_plugins.cmake
macos/Flutter/GeneratedPluginRegistrant.swift
windows/flutter/generated_plugin_registrant.cc
windows/flutter/generated_plugin_registrant.h
windows/flutter/generated_plugins.cmake
android/gradle.properties
linux/flutter/generated_plugin_registrant.cc
linux/flutter/generated_plugin_registrant.h
linux/flutter/generated_plugins.cmake
macos/Flutter/GeneratedPluginRegistrant.swift
windows/flutter/generated_plugin_registrant.cc
windows/flutter/generated_plugin_registrant.h
windows/flutter/generated_plugins.cmake
android/gradle.properties
android/gradle.properties
android/gradle.properties
/android
android/gradle.properties
